# In your own app, you can modify the packages listed and their versions as desired.
# As a best practice for stability, specify the exact version (i.e., use "==") of each package to be installed.
# Include only packages that are actually imported in your app code.

civis==2.7.1
pandas==2.3.0
scikit-learn==1.7.0
streamlit==1.46.1
